*, ::after, ::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.container {
  transition: ease-in-out 0.3s;
  position: relative;
  height: 100vh;
  background-color: #1a1a1a;
  display: grid;
  grid-template-areas: 1fr 5fr;
  text-align: start;
  pointer-events: all;
}
.container h1 {
  line-height: 1;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: white;
  grid-column: 2/3;
  grid-row: 2/3;
}
.container h2 {
  font-family: "Poppins", sans-serif;
  color: white;
  grid-column: 2/3;
  grid-row: 2/3;
  margin-top: 40px;
  display: block;
  color: #c1b8b8;
}
.container h2 span {
  border-bottom: 2px solid #D11D27;
  padding-bottom: 3px;
}
.container nav {
  display: block;
  grid-column: 2/3;
  grid-row: 2/3;
  position: relative;
}
.container nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  margin-top: 80px;
}
.container nav ul li {
  padding: 10px;
}
.container nav ul li a {
  color: #d0caca;
  font: "Poppins", sans-serif;
  text-decoration: none;
  font-size: 1.2em;
  display: inline-block;
  position: relative;
}
.container nav ul li a:after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #D11D27;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.container nav ul li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}